.nav-input{
    border: 1px solid #eaeaea;
    border-radius: 0px;
}
ul{
    list-style: none;
}
.navbar-nav>li{
    font-size: 19px;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
}
.nav-item img {
    border-radius: 50%; 
     width: 35px;
}

.navbar-nav>li:last-child{
    padding: 0%;
   
}

.btn-r{
    border-radius: 2px;
    border-color: #337ab7;
    box-shadow: 1px 1px 1px 1px #d2d2d2;
        background-color: #0089ff;
}

.side-b{
    text-align: center;
    margin-bottom: 27%;
}
.sidenav {
 height: 100%;
 width: 125px;
 padding-top: 45px !important;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: #fff;
 overflow-x: hidden;
 box-shadow: -1px 4px 15px 2px #b1b1b1;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover,
.sidenav .active {
        font-weight: 600;
  color: #333 !important;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 16px;
  }
}
.compose{
    position: absolute;
    /* right: auto; */
    width: 100%;
    left: 0;
}